In [55]:
import pandas as pd
from sklearn.preprocessing import KBinsDiscretizer,FunctionTransformer,MinMaxScaler,OneHotEncoder,StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [43]:
df = pd.read_csv('all_penguins_clean.csv')

In [44]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Real ID,Sex
0,PAL0708,1,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,A_0,MALE
1,PAL0708,2,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,A_1,FEMALE
2,PAL0708,3,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,A_2,FEMALE
3,PAL0708,4,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,A_3,NaN
4,PAL0708,5,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,A_4,FEMALE

In [45]:
# transform a numerical column
scaler = MinMaxScaler()

In [46]:
cols = df[['Culmen Length (mm)']]

In [47]:
scaler.fit(cols)               # learn the min and max of the data

MinMaxScaler()

In [48]:
t = scaler.transform(cols)     # apply the transformation to the data
print(t.shape)
print()

(344, 1)

In [49]:
# create a DataFrame
cols_scaled = pd.DataFrame(t, columns=cols.columns)
print(cols_scaled.head())

   Culmen Length (mm)
0            0.254545
1            0.269091
2            0.298182
3                 NaN
4            0.167273

In [50]:
m = LogisticRegression()

In [51]:
df['Culmen Length (mm)'] = cols_scaled

In [38]:
cols_scaled.shape, df.shape

((344, 1), (344, 15))

In [53]:
X = df[['Culmen Length (mm)']]
y = df['Species']

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [65]:
X_train.dropna()

     Culmen Length (mm)
147            0.163636
308            0.560000
263            0.636364
130            0.232727
199            0.614545
..                  ...
223            0.650909
259            0.603636
179            0.632727
251            0.389091
38             0.200000

[256 rows x 1 columns]

In [67]:
y_train.dropna()

147       Adelie
308       Gentoo
263       Gentoo
130       Adelie
199    Chinstrap
         ...
223       Gentoo
259       Gentoo
179    Chinstrap
251       Gentoo
38        Adelie
Name: Species, Length: 258, dtype: object

In [68]:
m.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [41]:
result = pd.concat([df,cols_scaled],axis=1)

In [42]:
result[]

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Real ID,Sex,Culmen Length (mm)
0,PAL0708,1,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,A_0,MALE,0.254545
1,PAL0708,2,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,A_1,FEMALE,0.269091
2,PAL0708,3,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,A_2,FEMALE,0.298182
3,PAL0708,4,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,A_3,NaN,NaN
4,PAL0708,5,Adelie,Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,A_4,FEMALE,0.167273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,G_339,NaN,NaN
340,PAL0910,121,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,G_340,FEMALE,0.534545
341,PAL0910,122,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,G_341,MALE,0.665455
342,PAL0910,123,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,G_342,FEMALE,0.476364
343,PAL0910,124,Gentoo,Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,G_343,MALE,0.647273